*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container{
    background-color: gray;
    min-height: 100vh;
    display: flex;
    gap: 10px 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 200px;*/
    height: 200px;
    border: 2px solid black;
    background-color: white;
    font-size: 20px;
    flex-basis: 200px;
}
.item1{

}
.item2{
    
}
.item3{
    
}